@charset "UTF-8";
@font-face{font-family: 'epilogue-medium';src: url("fonts/Epilogue-Medium.ttf");}
@font-face{font-family: 'epilogue-bold';src: url("fonts/Epilogue-Bold.ttf");}
:root{
    --almost-white: rgb(250, 250, 250);
    --medium-gray: rgb(105, 105, 105);
    --almost-black: rgb(20, 20, 20);
}
#mobile-menu{display: none;}
#menu-mobile-open{display: none;}
.item-dropdown{color: var(--medium-gray);}
body{
    font-family: 'epilogue-medium';
    max-width: 1440px;
    margin: 0px auto;
    padding: 10px;
}
header{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0px;
    height: 70px;
}
#desktop-menu{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 630px;
}
.nav-list{
    list-style: none;
    padding: 0px;
    display: flex;
    flex-flow: row wrap;
    gap: 4rem;
}
.nav-list a{
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s;
}
.nav-list a:hover{color: var(--almost-black);}
.login_and_register{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 1;
    gap: 2rem;
}
.login-btn{
    text-decoration: none;
    color: var(--medium-gray);
    transition: color 0.3s;
}
.login-btn:hover{
    color: var(--almost-black);
}
.register-btn{
    text-decoration: none;
    color: var(--medium-gray);
    padding: 10px;
    border: 1px solid var(--medium-gray);
    border-radius: 14px;
    box-shadow: 0px 2px 1px var(--medium-gray);
    transition: all 0.3s;
}
.register-btn:hover{
    color: var(--almost-black);
    border: 1px solid var(--almost-black);
    box-shadow: 0px 2px 1px var(--almost-black);
}
.item-dropdown-li{
    position: relative;
}
.span-li{color: var(--medium-gray); cursor: pointer; transition: all 0.3s;}
.span-li:hover{color: var(--almost-black);}
.dropdown-menu-desktop{
    display: none;
    flex-direction: column;
    gap: 10px;
    width: 120px;
    position: absolute;
    background-color: var(--almost-white);
    box-shadow: 0px 1px 2px rgba(0, 0, 0, .4);
    list-style: none;
    padding: 0px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 10px;
}
main{
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1132px;
    margin: auto;
}
#content{width: 500px;}
#content h1{font-size: 4rem;color: var(--almost-black);}
#content p {
    max-width: 500px;
    font-size: 1.1rem;
    line-height: 28px;
    color: var(--medium-gray);
    padding: 1rem 0px 3rem 0px;
}
#content a{
    font-family: 'epilogue-bold';
    color: var(--almost-white);
    background-color: var(--almost-black);
    padding: 1.2rem 2rem;
    border-radius: 15px;
    transition: background-color 0.5s;
    cursor: pointer;
}
#content a:hover{
    background-color: var(--almost-white);
    color: var(--almost-black);
    outline: 1px solid var(--almost-black);
}
.footer-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    height: 187px;
}
.footer-content > img{height: 25px;display: block;}
.image-main img{height: 600px;}
.attribution{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-top: 130px;
}
.attribution p{margin: 0px;}
.attribution a{
    text-decoration: none;
}
@media (max-width: 970px) {
    main{flex-direction: column-reverse; padding-top: 50px;}
    #content{
        width: 100%;
        text-align: center;
        padding-top: 30px;
    }
    #content p{margin: auto; padding-bottom: 4rem;}
    .image-main img, .image-main{height: auto;text-align: center;}
    .footer-content{justify-content: center;gap: 34px;}
    #desktop-menu{
        width: 100%;
        height: 50px;
    }
    #menu-mobile-open{
        display: block;
        margin-right: 34px;
    }
    #menu-mobile-close{
        display: flex;
        justify-content: right;
        padding: 25px 15px 0px 0px;
    }
    .nav-list, .login_and_register{display: none;}
    #mobile-menu{
        display: none;
        flex-direction: column;
        align-items: left;
        position: absolute;
        top: 0px;
        right: 0vw;
        width: 50vw;
        height: 100%;
        background-color: var(--almost-white);
    }
    .nav-list-mobile{
        display: flex;
        flex-direction: column;
        align-items: left;
        gap: 2rem;
        list-style: none;
        padding: 20px 0px 0px 25px;
    }
    .nav-list-mobile a{
        text-decoration: none;
        color: var(--medium-gray);
        transition: color 0.1s;
    }
    .nav-list-mobile a:hover{color: var(--medium-gray);}
    .nav-list-mobile a:active{color: var(--almost-black);}
    .dropdown-menu-mobile{
        list-style: none;
        padding: 10px 0px 0px 30px;
    }
    .login_and_register-mobile{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 25px;
        position: relative;
        top: 120px;
    }
    .login-btn:hover{color: var(--medium-gray);}
    .login-btn:active{color: var(--almost-black);background-color: rgba(0, 0, 0, .1);}
    .login-btn{
        display: block;
        text-align: center;
        width: 100%;
        padding: 10px 0px;
        transition: all 0.1s;
    }
    .register-btn:hover{
        color: var(--medium-gray);
        border: 1px solid var(--medium-gray);
        box-shadow: 0px 2px 1px var(--medium-gray);
    }
    .register-btn:active{
        color: var(--almost-black);
        border: 1px solid var(--almost-black);
        box-shadow: 0px 2px 1px var(--almost-black);
    }
    .register-btn{
        display: block;
        width: 80%;
        text-align: center;
        transition: all 0.1s;
    }
    .dropdown-menu-mobile{
        padding: 25px 0px 0px 20px;
        display: none;
        flex-direction: column;
        gap: 20px;
    }
}
@media (max-width: 830px) {
    .image-main img{width: 100%;}
    header{padding: 0px;}
    #content a{transition: background-color 0.1s;}
    #content a:hover{
        background-color: var(--almost-black);
        color: var(--almost-white);
        outline: none;
    }
    #content a:active{
        background-color: var(--almost-white);
        color: var(--almost-black);
        outline: 1px solid var(--almost-black);
    }
    #menu-mobile-open{
        display: block;
        margin-right: 14px;
    }
}
@media (max-width: 530px) {
    .footer-content{gap: 30px;justify-content: center;}
    .footer-content img{height: 15px;}
}
@media (max-width: 425px) {
    #content h1{font-size: 3rem;}
    #mobile-menu{width: 62vw;}
    .register-btn{width: 65%;}
}