@charset "UTF-8";
@font-face{font-family: 'Epilogue-medium';src: url("fonts/Epilogue-Medium.ttf");}
@font-face{font-family: 'Epilogue-bold';src: url("fonts/Epilogue-Bold.ttf");}
:root{
    --almost-white: rgb(240, 240, 240);
    --medium-gray: rgb(105, 105, 105);
    --almost-black: rgb(20, 20, 20);
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Epilogue-medium';
}
body{width: 100%;max-width: 1440px;margin: 0px auto;background-color: var(--almost-white);}
#mobile-menu, #open-menu-icon{display: none;}
.main-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem 5rem 10px;
}
#desktop-menu{
    display: flex;
    justify-content: space-between;
    width: 85%;
    padding-right: 20px;
}
.nav-list{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 55px;
}
.nav-list a, .span-li, .login-btn, .register-btn{
    text-decoration: none;
    color: var(--medium-gray);
    cursor: pointer;
    transition: all 0.2s ease;
}
.nav-list a:hover, .span-li:hover, .login-btn:hover{
    color: var(--almost-black);
}
.dropdown-menu{
    position: relative;
}
.features-menu-list, .company-menu-list{
    list-style: none;
    position: absolute;
    top: 30px;
    display: none;
    flex-direction: column;
    gap: 20px;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
}
.features-menu-list{
    left: -80px;
    width: 170px;
}
.company-menu-list{
    left: 0px;
    width: 130px;
}
.features-menu-list a{
    display: flex;
    align-items: center;
    gap: 10px;
}
.login_and_register{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}
.register-btn{
    border: 1px solid var(--medium-gray);
    border-radius: 12px;
    padding: 10px 20px;
}
.register-btn:hover{
    border-color: var(--almost-black);
    color: var(--almost-black);
    scale: 1.05;
}
main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 8px;
}
.image-main img{
    height: 750px;
}
#content{max-width: 515px;}
#content h1 {
    font-size: 5rem;
    margin-bottom: 30px;
}
#content p{
    font-size: 1.1rem;
    color: var(--medium-gray);
    margin-bottom: 80px;
    line-height: 27px;
    max-width: 430px;
}
.learn-more-link{
    text-decoration: none;
    display: block;
    text-align: center;
    width: 158px;
    background-color: var(--almost-black);
    color: var(--almost-white);
    font-family: 'Epilogue-bold';
    font-size: 1.2rem;
    padding: 15px;
    border: 1px solid var(--almost-black);
    border-radius: 10px;
    transition: all 0.2s ease-in-out;
}
.learn-more-link:hover{
    background-color: var(--almost-white);
    color: var(--almost-black);
}
.client-list{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
    height: 337px;
}
.client-list img{
    scale: 1.0;
}
.attribution{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    height: 120px;
    gap: 10px;
    padding: 10px;
}
@media (max-width: 1120px){
    main{
        flex-direction: column-reverse;
    }
    .image-main{
        display: block;
        width: 100%;
        padding-bottom: 70px;
    }
    .image-main img{
        width: 100%;
        height: 500px;
    }
}
@media (max-width: 950px){
    #desktop-menu{display: none;}
    #open-menu-icon{
        display: block;
    }
    #mobile-menu {
        display: flex;
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 0px;
        right: 0px;
        height: 100vh;
        width: 40vw;
        padding: 10px;
    }
    #menu-mobile-close{
        display: block;
        width: 100%;
        text-align: right;
        height: 80px;
    }
    .nav-list{
        flex-direction: column;
        align-items: flex-start;
        padding: 0px 10px;
    }
    .login_and_register{
        flex-direction: column;
        justify-content: flex-end;
        height: 430px;
    }
    .register-btn{
        width: 100%;
        text-align: center;
    }
    .register-btn:hover{
        scale: 0.95;
    }
}